@import "variables";

$highlight-color: $color-primary;

@import "admin/_admin.scss";

.wp-core-ui .button-primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-secondary;
		color: $color-white;
	}
}

// ACF Flexible Content Thumbnails

body .acf-fc-popup ul::before {
    display: none;
}

body .acf-fc-popup ul:after {
    display: none;
}

body .acf-fc-popup ul li {
    width: calc(100% / 4);
}

body .acf-fc-popup ul li a .acf-fc-popup-label {
    background-color: $color-default;
    text-shadow: none;
    border: none;
    box-shadow: none;
}

.acf-fc-popup ul li a .acf-fc-popup-image {
	padding-bottom: 41.67%;
}