// Forms
	input,
	form select,
	textarea,
	button {
		font-family: inherit;
	}
	input,
	form select,
	textarea {
		font-size: 1rem;
		line-height: 1.75em;
		min-height: 3.44rem;
		color: $color-dark-grey;
		border: 1px solid $color-dark-grey;
		padding: 0 1em;
		width: 100%;
		border-radius: 6px;

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $color-dark-grey;
		  }

		&:focus {
			border-color: $color-primary;
		}
	}
	input[type="submit"], button {
		&:focus {
			border-color: inherit;
		}
	}
// Textarea
	textarea {
		vertical-align: top;
		min-height: 12.5rem;
		line-height: 1.5em;
		padding: 1em;
	}
// Submit
	input[type="submit"],
	button {
		cursor: pointer;
		transition: $transition;
	}
	@include tablet {
		input,
		form select,
		textarea,
		button {
			-webkit-appearance: none;
		}
	}

// Gravity Forms
	.gfield_required {
		display: inline-block;
		margin-left: 0.25rem;
	}
	.gform_fields {
		display: flex;		
		flex-wrap: wrap;
		margin-left: -1.25rem;
		margin-bottom: 0;
	}
	.gfield {		
		width: 100%;
		padding-left: 1.25rem;
		padding-bottom: 1.25rem;
	}
	.gfield_label {
		display: block;
		margin-bottom: 1em;
	}
	.gf_left_half,
	.gf_right_half,
	.gf_left_third,
	.gf_middle_third,
	.gf_right_third,
	.gf_first_quarter,
	.gf_second_quarter,
	.gf_third_quarter,
	.gf_fourth_quarter,
	.gfield--width-half,
	.gfield--width-third,
	.gfield--width-quarter {
		flex-shrink: 0;
	}
	.gf_left_half,
	.gf_right_half,
	.gfield--width-half {
		width: 50%;
	}

	.gf_left_third,
	.gf_middle_third,
	.gf_right_third,
	.gfield--width-third {
		width: 33.333%;
	}
	.gf_first_quarter,
	.gf_second_quarter,
	.gf_third_quarter,
	.gf_fourth_quarter,
	.gfield--width-quarter {
		width: 25%;
	}
	@include phone {
		.gf_left_half,
		.gf_right_half,
		.gf_left_third,
		.gf_middle_third,
		.gf_right_third,
		.gf_first_quarter,
		.gf_second_quarter,
		.gf_third_quarter,
		.gf_fourth_quarter {
			float: none;
			width: 100%;
		}
	}
// Gravity Forms - Hidden Elements
	.hidden_label .gfield_label,
	.gform_validation_container,
	.gform_hidden,
	.gfield_visibility_hidden,
	.screen-reader-text,
	.gform_wrapper label.hidden_sub_label {
		@include visually-hidden;
	}
// Gravity Forms - Footer
	.gform_footer {
	}
// Gravity Forms - Spinner
	.gform_ajax_spinner {
		margin-left: 1.25rem;
		border: 4px solid rgba($color-primary, 0.3);
		border-left: 4px solid $color-primary;
		animation: spinner 1.1s infinite linear;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
// Gravity Forms - Custom Styled Fields
// Gravity Forms - Checkbox and Radio Buttons
	// Checkbox & Radio
		.gfield_checkbox,
		.gfield_radio,
		.ginput_container_consent {
			input[type="checkbox"],
			input[type="radio"] {
				@include visually-hidden;
			}
			label {
				position: relative;
				padding-left: 2em;
				min-height: 20px;
				display: block;
			}
			li+li {
				margin-top: 0.5em;
			}
			.custom-input {
				position: absolute;
				top: 4px;
				left: 0;
				width: 20px;
				height: 20px;
				cursor: pointer;
				border: 1px solid $color-primary;
			}
			// SELECTED
			input[type="checkbox"]:checked + label .custom-input,
			input[type="radio"]:checked + label .custom-input {
				background-color: $color-primary;
			}
		}
	// Checkbox
		.gfield_checkbox input[type="checkbox"]:checked + label .custom-input:before,
		.ginput_container_consent input[type="checkbox"]:checked + label .custom-input:before {
			content: '\f00c';
			position: absolute;
			top: 0;
			left: 2px;
			font-family: $font-icon;
			font-weight: 700;
			color: $color-white;
			font-size: 14px;
			line-height: 18px;
		}
	// Radio Button
		.gfield_radio input[type="radio"]+label .custom-input {
			border-radius: 100px;
		}
		.gfield_radio input[type="radio"]:checked+label .custom-input:before {
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -5px;
			margin-top: -5px;
			background: $color-white;
		}

// Inline List

.gf_list_inline {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-bottom: -1rem;

	li {
		flex-shrink: 0;
		padding-left: 1rem;
		padding-bottom: 1rem;
	}

	li + li {
		margin-top: 0;
	}
}

// Gravity Forms - Datepicker
	.ginput_container_date,
	.custom-datepicker {
		position: relative;

		&:before {
			position: absolute;
			z-index: 1;			
			right: 1em;
			content: '\f133';
			top: 50%;
			transform: translateY(-50%);
			font-family: $font-icon;
			color: $color-primary;
		}
		
		input {
			position: relative;
			z-index: 5;
			background-color: transparent;
		}
	}
// Gravity Forms - Calendar 

// Gravity Forms - Errors
	.validation_error,
	.gform_submission_error {
		@extend .message;
		@extend .message--error;
	}
	.gfield_error {
		input,
		select,
		textarea {
			border: 1px solid $color-error;
		}
		.validation_message {
			color: $color-error;
			margin-top: 0.5em;
		}
	}
// Gravity Forms - Confirmation Message
	.gform_confirmation_message {
		display: block;
	}
// Gravity Forms - Placeholder Text
	@include placeholder {
		color: $color-default;
		opacity: 1;
	}
// Search Form
	.form--search {
		display: flex;
		position: relative;

		input {
			padding-right: 4em;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1em;
			color: $color-primary;
		}

		button:hover {
			background-color: transparent;
		}
	}

// File upload
	.ginput_container_fileupload {
		border: 2px dashed;
		padding: $space-m;
		text-align: center;
	}

	.gform_drop_area button {
		margin: $space-xs 0;
	}

	.gform_drop_instructions,
	.gform_fileupload_rules {
		display: block;
	}

// List field
	.gfield_list_group_item {
		margin-bottom: 1em;
	}

	.gfield_list_group + .gfield_list_group {
		margin-top: 2em;
	}

// Time field
	.ginput_complex {
		display: flex;
		flex-direction: row;
		align-items: center;

		.hour_minute_colon {
			margin: 0 .5em;
			border: 1px solid transparent;
		}

		.gfield_time_ampm {
			margin-left: .5em;
		}
	}