html {
	font-size: 100%;

	@include md {
		font-size: 0.94rem;
	}
}

body {
	font-size: 1rem;
	line-height: 1.75em;
}

body {
	font-family: $font-body;
	color: $color-default;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: $color-slate;
	font-family: $font-heading;
}

h1,
.h1 {
	font-size: 3.75rem; // 100
	line-height: 4.06rem;
	margin-bottom: 1rem;

	@include md {
		font-size: 2.40rem;
		line-height: 2.80rem;
	}
}

h2,
.h2 {
	font-size: 1.88rem; // 80
	line-height: 2.63rem;
	margin-bottom: 1.69em;
}

h3,
.h3 {
	font-size: 1.38rem; // 60 
	line-height: 1.81rem;
	margin-bottom: 1.25rem;
}

h4,
.h4 {
	font-size: 1.13rem; // 40
	line-height: 2.00rem;
	margin-bottom: 1.167em;
	font-weight: 400;

	@include md {
		font-size: 1.20rem;
		line-height: 2.13rem;
	}
}

h5,
.h5 {
	font-size: 1.19rem;
	line-height: 1.38rem;
	font-weight: 600;
}

h6,
.h6 {
	font-size: 1rem; // 16
	line-height: 1.571em;
	margin-bottom: 1.5em;
}

// Small
.body--small {
	font-family: $font-heading;
	font-size: 0.88rem;
	line-height: 0.94rem;
	text-transform: uppercase;
}

.body--large {
	font-size: 1.13rem;
	line-height: 2.00rem;
}

sup,
sub {
	font-size: 0.5em;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

// Blockquote
blockquote {
	font-size: 1.75rem;
	line-height: 2.75rem;
	font-family: $font-heading;

	p+p {
		margin-top: 1em;
	}
}

// List - Icon
.list--icon li {
	position: relative;
	padding-left: 2em;
}

.list--icon .fa {
	position: absolute;
	top: 0;
	left: 0;
}

// TABLES
table {
	border-collapse: collapse;
	width: 100%;
}

table th,
table td {
	padding: 0.625em;
	border-bottom: 1px solid $color-light;
}

table th {
	font-weight: 700;
	text-align: left;
}

// WYSIWYG
.wysiwyg {

	// TEXT
	p,
	ul,
	ol,
	blockquote,
	table,
	iframe {
		margin-bottom: 1.25rem;

		&:last-of-type {
		}
	}

	ul {
		list-style-type: none;
	}

	// LINKS
	a:not(.button) {
		border-bottom: 1px solid;
	}

	// LISTS
	li:not(.gfield) {
		position: relative;
		padding-left: 1.5em;
	}

	li>ul,
	li>ol {
		margin-top: 0.625em;
		margin-bottom: 0;
	}

	ul.gfield_checkbox li,
	ul.gfield_radio li {
		padding-left: 0;
	}

	// UNORDERED LIST
	ul li:before {
		content: '\2022';
		position: absolute;
		top: 10px;
		left: 0;
		background-color: $color-gold;
		width: 10px;
		height: 10px;
		border-radius: 6px;
		color: transparent;
	}

	ul li h1,
	ul li h2,
	ul li h3,
	ul li h4,
	ul li h5,
	ul li h6 {
		color: inherit;
		margin-bottom: 0;
	}

	.gform_fields li:before {
		display: none;
	}

	// ORDERED LIST
	ol {
		list-style: none;
		counter-reset: number-counter;
	}

	ol li {
		padding-left: 2em;
		position: relative;
	}

	ol li:before {
		content: counter(number-counter)'.';
		counter-increment: number-counter;
		position: absolute;
		top: 0;
		left: 0;
		color: $color-primary;
	}

	// FORMS
	.gform_wrapper ul {
		margin-bottom: 0;
	}

	.gfield_checkbox li,
	.gfield_radio li {
		padding-left: 0;
	}

	li {
		margin-bottom: 1.25rem;

		&:last-of-type {}
	}
}


// Message
.message {
	position: relative;
	border: 1px solid;
	padding: 0.5em 0.5em 0.5em 2.5em;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;

	&:before {
		content: "\f05a";
		position: absolute;
		top: 1.1em;
		left: 1em;
		font-size: 1em;
		line-height: 1em;
		font-family: $font-icon;
	}
}

// Message - Success
.message--success:before {
	content: "\f058";
}

// Message - Error
.message--error:before {
	content: "\f06a";
}